/* top head  */

body {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #f5f1f7 !important;
}

#warpper{
        width: 645px;
    margin: auto;
    background-color: #f9f7f7;
}

.col-lg-6 {
 width: 50%!important
}

iframe {
    width: 203px !important;
    height: 216px !important;
    border: 1px solid #ad5ac1;
}

#showTrailers{
      padding: 8px 0px 10px 8px;
    margin: 0px 0px 0px 0px;
}

  
}

#theatre{
        margin: 0px;
    padding: 0px;
}
.fade {
    opacity: 0.5;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.ytshowTrailer{
     width: 120px !important;
    height: 120px !important;
    float: left;
    margin-left: 2px;
    padding: 2px;
}

#youtube_video {
        width: 18% !important;
    min-height: 122px;
}

.pb{
   float: left;
    width: 25%;
    font-size: 10px;
    color: blue;
    margin-top: 3px; 
}

#playedBy{
        width: 28%;
    float: left;
    margin-top: 2px;
    font-size: 10px;
    color: blue;
}


p {
    color: #31708f;
    font-size: 13.5px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.text10{
    font-size: 10px;
   color: #31708f!important;
}

.text15{
    font-size: 15px;
    color: #31708f!important;
}

.text20{
font-size: 20px;
color: #31708f!important;
}

.footer {
       padding: 13px;
    position: relative;
    left: 0;
    bottom: 0;
    height: 67px;
    width: 100%;
    overflow: hidden;
}

.showsSelect {
    width: 9%;
    margin: 0px 0px 13px 197px;
    cursor: pointer;
}

.admin_post {
    width: 29%;
    height: 44px;
    margin-left: 149px;
}

.block {
    display: block;
}

.shows_type {
    float: left;
    width: 12%;
    margin-left: 15px;
    list-style: none;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    float: left;
}

#Cast{
        width: 7%;
    float: left;
}

.charactor_name{
    color: blue;
    font-size: 9px;
    float: left;
    margin-top: 2px;
    width: 22%;
    height: 23px;
}
.casting{
       min-height: 35px !important;
       padding : 2px;
}

.show_casting{
    width: 100%;
}


.btn.btn-default {
    background-color: #fafafa;
    color: #666;
    border-color: #ddd;
    border-bottom-color: #ddd;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
    box-shadow: 1px 2px 0px rgba(255,255,255, 0.3), inset 1px 1px 2px rgba(255,255,255, 0.3);
}

.actor-image{

}

.modal-header-actor{
      padding: 15px;
    border-bottom: 1px solid #0a0a0a;
    background-color: #8e6da7;
}

.modal-footer-actor{
      padding: 15px;
    text-align: right;
    border-top: 1px solid #0a0a0a;
    background-color: #8e6da7;
}

.modal-header-company{
      padding: 15px;
    border-bottom: 1px solid #0a0a0a;
    background-color: #8e6da7;
}

.modal-footer-company{
      padding: 15px;
    text-align: right;
    border-top: 1px solid #0a0a0a;
    background-color: #8e6da7;
}

.modal-header-theatre{
      padding: 15px;
    border-bottom: 1px solid #0a0a0a;
    background-color: #8e6da7;
}

.header{
        margin-top: 39px;
}

.navbar_brand{
        margin-top: 15px;
}

.cross{
        float: right;
    margin-right: -51px !important;
    margin-top: -5px !important;
}

li#columns{
        border: 1px solid lightgray;
    background-color: white;
    padding-bottom: 2px;
}

p {
    margin: 0 0 4px!important;
}

p {
    color: #444;
    font-size: 18.5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin: 0!important;
    line-height: 12px;
    -webkit-font-smoothing: antialiased;
}

ul.resultsearch{
  margin-top: 31px;
      background-color: #efecec;
    box-sizing: border-box;
    overflow-y: scroll;
    height: 345px;
        border: 1px solid #ccc;
    box-shadow: rgba(0,0,0,0.8) 0 4px 14px 0;
    overflow: hidden;
    padding: 0px;
    z-index: 99999;
    border-radius: 0 0 12px 12px;
    font-size: 13px;
    position: absolute;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    overflow-y: scroll;
}

#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: right;
    line-height: 22px;
    margin-top: 17px;
}

.tbio{
    color: #31708f;
    font-size: 13.5px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
.search input {
  position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

        .search:hover input, .search input:focus {
            width: 200px;
            margin-left: 0px;
        }

.btn_search {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}

.TheatreImg{
  width: 80px;
  height: 80px;
}

.middle-bit-theatre{
    margin-top: 106px;
}

.middle-bit-show{
    margin-top: 13px;
}
.modal-footer-theatre{
      padding: 15px;
    text-align: right;
    border-top: 1px solid #0a0a0a;
    background-color: #8e6da7;
}

#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: right;
    line-height: 22px;
}

.btn-primary {
    color: #fff;
    background-color: #b025c1 !important;
    border-color: transparent;
}

.btn-edit {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0px 7px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.tbio{
    color: #31708f;
    font-size: 8.5px;
    font-family: 'Open Sans', sans-serif;
    /* font-weight: 100; */
    margin: 0;
    /* line-height: 22px; */
    -webkit-font-smoothing: antialiased;
    margin-top: 10px;
}


.stbio{
    color: #31708f;
    font-size: 13.5px;
    font-family: 'Open Sans', sans-serif;
    /* font-weight: 100; */
    margin: 0;
    /* line-height: 22px; */
    -webkit-font-smoothing: antialiased;
    overflow-y: hidden;
    height: 122px;
}




.search input {
  position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

.search:hover input, .search input:focus {
            width: 200px;
            margin-left: 0px;
}

.btn_search {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}

.off-grey-theatre{
    float: left;

}

.off-grey-show{
    float: left;
}

.thumb{
        border-radius: 36px;
    border: 2px solid #b025c1;
    width: 100%;
    height: 150px;
}

#features{
        color: black;
    margin-top: 3px;
}

.features_got{
    width: 50%;
}

.textnotmob{
        font-size: 15px;
    width: 60%;
    margin-top: -5px;
}

.badgin{
        margin-top: -19px;
}

.ft{
        color: white;
}

.wheelchair_icon{
    background-image: url(../../../../WIAdmin/WIMedia/Img/icons/features/wheelaccess.jpg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    float: left;
}

.dt_icon{
  background-image: url(../../../../WIAdmin/WIMedia/Img/icons/features/dt.jpg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    float: left;
}

.wc_icon{
  background-image: url(../../../../WIAdmin/WIMedia/Img/icons/features/wc.jpg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    float: left;
}


.bar_icon{
  background-image: url(../../../../WIAdmin/WIMedia/Img/icons/features/bar.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    float: left;
}

.hearing_icon{
  background-image: url(../../../../WIAdmin/WIMedia/Img/icons/features/_-37-512.jpg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    float: left;
}

.dp_icon{
  background-image: url(../../../../WIAdmin/WIMedia/Img/icons/features/parking-for-disabled-persons-sign_318-51215.jpg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    float: left;
}

.dogs_icon{
  background-image: url(../../../../WIAdmin/WIMedia/Img/icons/features/avustavat_koirat.jpg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    float: left;
}

.stairs_icon{
  background-image: url(../../../../WIAdmin/WIMedia/Img/icons/features/stairs.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    float: left;
}




legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: inherit;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
        color: #060000 !important;
}


.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
        min-height: 163px;
}

.item.lists-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
        min-height: 163px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}


.mobileShow {
  display: none ;
} 

.theatre_showings{
        width: 100%;
    height: 80px;
}

.virticalSlide{
        float: left;
    width: 14%;
}


  /* Smartphone Portrait and Landscape */ 
  @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px){ 
      .mobileShow {display: inline !important;}
  }


  .mobileHide{
display: none ;
font-size: 15px;
  }

   /* Smartphone Portrait and Landscape */ 
  @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px){ 
      .mobileHide {display: none !important;}
  }


.list-group-item {
    position: relative;
    display: block;
    padding: 9px 17px !important;
    margin-bottom: 5px;
    background-color: #ffffff00 !important;
    border: 1px solid #dddddd52 !important;
    height: 32px;
}


blockquote p:last-child {
    margin-bottom: 0;
    font-size: 10px;
    color: #31708f;
    font-size: 13.5px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;

}

a, a:hover, a:visited, a:focus {
    text-decoration: none !important;
    -webkit-transition: all 0.1s ease;
    margin-bottom: 0;
    color: #31708f;
    font-size:  8.5px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    transition: all 0.1s ease;
}

.theatresName{
  margin: 19px 17px 0px -21px;
    width: 115%;
}



.theatresLocation{
  margin: 19px 17px 0px -21px;
    width: 115%;
}
.delete{
    background-color: #bf6cda;
    color: white;
    perspective: 638px;
    margin-right: 10px;
    margin-top: 9px;
    float: right;
}

.theatre-delete{
      background-color: #bf6cda;
    color: white;
    perspective: 638px;
    margin-right: 7px;
    margin-top: 10px;
    float: right;
}

.show-delete{
      background-color: #bf6cda;
    color: white;
    perspective: 638px;
    margin-right: -2px;
    margin-top: 10px;
    float: right;
}
.selectionPerson{
      width: 100%;
    padding: 0;
}
#findCast{
       min-height: 101px;
    width: 20%;
    float: right;
    margin-right: 75px;
}

.countries{
      width: 100%;
    color: black;
    float: left;
}

#countries{
      width: 100%;
    color: black;
    float: left;
}
.fa-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
  }

.fa-stack-company {
    display: inline-block;
    height: 4em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
  }

.fa-2x {
    font-size: 1em!important;
    width: 13em !important;
}
.personImg{
      width: 60px;
    height: 60px;
    margin-left: 63px;
    margin-top: -42px;
}
.personsName{
    margin: 32px 0;
        color: #f7f3f3;
}

.pbio{
  overflow-y: scroll;
    height: 101px;
    color: white;
}

.address{
color: black;
width: 100%;
}

.bcity{
color: black;
width: 100%;
}

.datepicker{
  color:black;
  width: 100%;
}

figure {

    width: 100%;
}

body {
        overflow-x: hidden!important;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    background: #f9f9f9;
}

a {
  color: #3c8dbc;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: #72afd2;
}

.icon-theatre{
    float: left;
}

.icon-theatre:before{
    content: url('../../../../WIAdmin/WIMedia/Img/icons/theatre.png');
    background-position: center center;
}

.icon-address{
    float: left;
}

.icon-address:before{
    content: url('../../../../WIAdmin/WIMedia/Img/icons/address.png');
    background-position: center center;
}

.icon-company{
    float: left;
}

.icon-company:before{
    content: url('../..//WIMedia/Img/icons/company.png');
    background-position: center center;
}

.icon-dates{
    float: left;
}

.icon-dates:before{
    content: url('../../WIMedia/Img/icons/dates.png');
    background-position: center center;
}

.icon-actor{
    float: left;
}

.icon-actor:before{
    content: url('../../WIMedia/Img/icons/actor.png');
    background-position: center center;
}

.icon-director{
    float: left;
}

.icon-director:before{
    content: url('../../WIMedia/Img/icons/director.png');
    background-position: center center;
}

.icon-crew{
    float: left;
}

.icon-crew:before{
    content: url('../..//WIMedia/Img/icons/crew.png');
    background-position: center center;
}

.icon-shows{
    float: left;
}

.icon-shows:before{
    content: url('../../WIMedia/Img/icons/shows.png');
    background-position: center center;
}

.casting{
      margin-left: -5px;
}

.person{
  height:200px; 
  width:18%;
  overflow:hidden;
   overflow-y:scroll;
}

.personImage{
      border-radius: 75%;
}

.personel{
    height: 170px;
    width: 95%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    float: left;
}

.cast_name{
      font-size: 9px;
    display: inline-flex;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: small;
    line-height: normal;
}

.bio{
  width: 80%;
    height: 94px;
    color: black;
}

.name{
  width: 100%;
  color: black;
}

blockquote {
        padding: 2px 2px !important;
    margin: -17px 0px 12px !important;
    border-left: 5px solid #eee;

}

.page_link_list{
        width: 100%;
    height: 116px;
    overflow-y: scroll;
    padding: 0;
    float: left;
}

.page{
        width: 100%;
    margin-left: -6px;
}
.top-bit {
    border-bottom: 1px solid #3d3d3d;
        margin-top: 44px;
}
.middle-bit {
  margin-top: 40px;
}
.demure {
    color: #6b6b6b;
}
.plan_price {
    display: block;
    font-size: 6.853em;
    font-weight: 900;
    height: 1em;
    letter-spacing: -2px;
    line-height: 1.2em;
    margin-left: -2.5vw;
    position: relative;
}
.plan-bottom {
    margin-bottom: 15px;
}
.plan_price .currency, .plan_price-md .currency {
    font-size: .382em;
    font-weight: 400;
    letter-spacing: 0;
    position: relative;
    top: -1.15em;
}
.plan_price .cents {
    font-size: .146em;
    font-weight: 700;
    letter-spacing: -1px;
    position: absolute;
    top: -.75em;
}
.plan_price_details {
    display: block;
    font-size: 1em;
    line-height: 1.2em;
    opacity: .8;
    text-shadow: none;
}
.plan-bottom {
    margin-bottom: 15px;
}
.end-bit {
    border-top: 1px solid #3d3d3d;
}
.btn-custom {
    background-color: #222;
    border-color: #222;
}
.btn-smooth {
    min-width: 200px !important;
    margin-top: 1.5vh;
}
.cards-rear {
    margin-top: 5px;
    color: #6b6b6b;
    min-height: 256px;
}
.pc-text {
    color: #FDFDFD;
}
.plan-summary-para {
    margin-top: 5px;
}

.editing{
      background-color: #bf6cda;
    color: white;
    perspective: 638px;
    margin-left: 10px;
    margin-top: 10px;
}
.flipcard {
    position: relative;
    width: 244px;
    height: 412px;
    perspective: 638px;
    margin: 0px 6px 10px 0px;
}
.flipcard.flip .front {
  transform: rotateY(180deg);
}
.flipcard.flip .back {
  transform: rotateY(0deg);
}
.flipcard .back{
  transform: rotateY(-180deg);
}
.flipcard .front, .flipcard .back
{
      background-color: #2c2c2c;
    border: 1px solid #222;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: all 1s ease 0s;
    color: white;
    padding: 10px 23px;
    backface-visibility: hidden;
    top: 5px;
    z-index: -1;
}

.image-flip, .backside,
.image-flip .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.rotated .frontside,
.rotated .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}


#dragandrophandler
{
    border: 2px dotted #0B85A1;
    width: 100%;
    color: #92AAB0;
    text-align: left;
    vertical-align: middle;
    padding: 10px 10px 10 10px;
    margin-bottom: 8px;
    margin-top: 30px;
    font-size: 102%;
}
.progressBar {
    width: 200px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 5px; 
    overflow: hidden;
    display:inline-block;
    margin:0px 10px 5px 5px;
    vertical-align:top;
}
 
.progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0ba1b5; border-radius: 3px; 
}
.statusbar
{
    border-top:1px solid #A9CCD1;
    min-height:25px;
    width:100%;
    padding:10px 10px 0px 10px;
    vertical-align:top;
}
.statusbar:nth-child(odd){
    background:#EBEFF0;
}
.filename
{
display:inline-block;
vertical-align:top;
width:250px;
}
.filesize
{
display:inline-block;
vertical-align:top;
color:#30693D;
width:100px;
margin-left:10px;
margin-right:5px;
}

.abort{
    background-color:#A8352F;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;display:inline-block;
    color:#fff;
    font-family:arial;font-size:13px;font-weight:normal;
    padding:4px 15px;
    cursor:pointer;
    vertical-align:top
    }


.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}


.text-center {
    text-align: center;
    background-color: #f8f6f9;
        font-size: 75%;
}

.col-lg-6 {
    width: 50%;
    margin-left: 0px;
}

.login-panel{
    min-height: 100px;
    padding: 18px;
    margin-left: 77%;
}

.logo{
    width: 20%;
    float: left;
    margin-left: 1px;
    margin-top: 2px;
}

.menu{
      margin-left: 90px;
}
.lang {
    margin-top: 28px;
}

.social {
    margin-left: -89px;
    margin-top: 15px;
}

.social_media {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 0;
}

.social_media li {
    float: left;
}

.social_media li a {
    color: #888;
    display: block;
    height: 39px;
    line-height: 40px;
    position: relative;
    text-align: center;
    text-indent: -500em;
    width: 39px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.social_media li a:hover,
.social_media li a:focus a{
    text-decoration:none;
    color: #fff !important;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.social_media li a:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    text-indent: 0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
}

.social_media li .fa.fa-rss:focus,
.social_media li .fa.fa-rss:hover {background-color:#F90 !important}
.social_media li .fa.fa-facebook:focus,
.social_media li .fa.fa-facebook:hover {background-color:#3B5998 !important}
.social_media li .fa.fa-twitter:focus,
.social_media li .fa.fa-twitter:hover {background-color:#9AE4E8 !important}
.social_media li .fa.fa-pinterest:focus,
.social_media li .fa.fa-pinterest:hover {background-color:#C92228 !important}
.social_media li .fa.fa-linkedin:focus,
.social_media li .fa.fa-linkedin:hover {background-color:#007bb6 !important}
.social_media li .fa.fa-google-plus:focus,
.social_media li .fa.fa-google-plus:hover {background-color:#d34836 !important}   


/*-------------------------------------------------*/
/* =  SEARCHCING TOP
/*-------------------------------------------------*/
.sb-search {
    position: relative;
    width: 0%;
    min-width: 40px;
    max-height: 39px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none !important;
    outline: none;
    background: #fff;
    width: 100%;
    height: 40px;
    margin: 0;
    z-index: 10;
    padding: 0 20px;
    font-family: Open Sans;
    font-size: 12px;
    color: #2c3e50;
}

.sb-search-input::-webkit-input-placeholder {color: #464646;}
.sb-search-input:-moz-placeholder {color: #464646;}
.sb-search-input::-moz-placeholder {color: #464646;}
.sb-search-input:-ms-input-placeholder {color: #464646;}
.sb-icon-search,
.sb-search-submit  {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #888;
    background: #ffffff;
    z-index: 90;
    font-size: 16px;
    font-family: 'FontAwesome';
    overflow:hidden;
    -webkit-font-smoothing: antialiased;
}
.sb-icon-search:before {content: "\f002";}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {width: 250px;}
.sb-search.sb-search-open .sb-icon-search,
.sb-icon-search:hover,
.no-js .sb-search .sb-icon-search {
    background: #e74c3c;
    color: #fff;
    z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {z-index: 90;}


.intro_box {
    text-align: center;
    width: 75%;
    margin: 0 auto 60px;
}

.intro_box h1 {
    font-family: Open Sans;
    font-weight: 600;
    margin-top: 0;
    text-transform: uppercase;
    line-height: 2;
}

.intro_box h1 span {
    color: #e74c3c;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.top_head {
    background: #fff0;
    border-bottom: 1px solid #EDEAE3;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    min-height: 40px;
    height: auto;
    margin-top: 36px;
}

.form-control-input {
    display: block;
    width: 45%;
    height: 42px;
    float: left;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
        border: 1px solid #ad5ac1;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.post-video{
}

.sidenav{
}

.shows{
    border: 2px solid #5a5a5a;
    width: 100%;
    padding-left: 0px!important;
    padding-right: 0px!important;
    background-color: #e6e4e49e;
}

.widget{
         margin-bottom: 25px;
    padding:0px !important;
}

.coming_soon{
    padding: 0px !important;
}

.now_showing{
    padding: 0px !important;
}

.sh{
    font-size: 9px;
}

.services{

}

.show_trailer{
    color: white;
}

.serv_detail{
}

.thumbnail{
    display:block;
    padding:4px;
    margin-bottom:20px;
    line-height:1.42857143;
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:4px;
    -webkit-transition:border .2s ease-in-out;
    -o-transition:border .2s ease-in-out;
    transition:border .2s ease-in-out;
    height: 177px;
}


#dragandrophandler {
    border: 2px dotted #0B85A1;
    color: #92AAB0;
    text-align: left;
    vertical-align: middle;
    padding: 10px 10px 10 10px;
    margin-bottom: 10px;
    font-size: 200%;
}

    @import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

@media (min-width: 481px) {

.osdp {
    height: 72px;
}

.top_head {
    background: #ffffff;
    border-bottom: 1px solid #EDEAE3;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
min-height: 40px;
    height: 102px;
    margin-top: -18px;
}

.logo{
    width: 100%;
    float: left;

}

.menu{
      margin-left: 90px;
          min-height: 50px;
}

blockquote p:last-child {
    margin-bottom: 0;
    font-size: 10px;
    color: #31708f;
    font-size: 13.5px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;

}

a, a:hover, a:visited, a:focus {
    text-decoration: none !important;
    -webkit-transition: all 0.1s ease;
    margin-bottom: 0;
    color: #31708f;
    font-size:  8.5px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    transition: all 0.1s ease;
}

#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: -134px;
    float: right;
    line-height: 22px;
    margin-top: 17px;
}

.tbio{
    color: #31708f;
    font-size: 13.5px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.showP{
    margin: 0 0 0px!important;
}

.list-group-item-headings {
    margin-top: 0;
    margin-bottom: -5px;
}

.thumbnail>img, .thumbnail a>img {
    display: block;
    max-width: 50% !important;
        height: 60px !important;
    margin-left: auto;
    margin-right: auto;
}

.stbio{
    color: #31708f;
    font-size: 13.5px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    height: 60px;
}

.search input {
  position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

        .search:hover input, .search input:focus {
            width: 200px;
            margin-left: 0px;
        }

.btn_search {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}

}

@media (min-width: 769px){

.osdp {
    height: 72px;
}

iframe {
    width: 260px !important;
    height: 218px !important;
    border: 1px solid #ad5ac1;
}

#warpper{
    width: 780px;
    margin: auto;
    background-color: #f9f7f7;
}

blockquote p:last-child {
    margin-bottom: 0;
    font-size: 10px;
    color: #31708f;
    font-size: 13.5px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;

}

a, a:hover, a:visited, a:focus {
    text-decoration: none !important;
    -webkit-transition: all 0.1s ease;
    margin-bottom: 0;
    color: #31708f;
    font-size:  8.5px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    transition: all 0.1s ease;
}

.showsSelect {
     width: 9%;
    margin: 0px 0px 26px 263px;
    cursor: pointer;
}

.top_head {
    background: #ffffff;
    border-bottom: 1px solid #EDEAE3;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    min-height: 40px;
        height: 112px;
    margin-top: -40px;
}

.logo{
        width: 100%;
    float: left;
    margin-left: 0px;
    margin-top: 0px;
}

.menu{
      margin-left: 90px;
}


.mobileShow {
  display: none ;
} 

  /* Smartphone Portrait and Landscape */ 
  @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px){ 
      .mobileShow {display: inline !important;}
  }


  .mobileHide{
display: block ;
font-size: 15px;
  }

   /* Smartphone Portrait and Landscape */ 
  @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px){ 
      .mobileHide {display: none !important;}
  }


  #search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: -27px;
    float: right;
    line-height: 22px;
    margin-top: 17px;
}

.tbio{
    color: #31708f;
    font-size: 13.5px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
.search input {
  position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

        .search:hover input, .search input:focus {
            width: 200px;
            margin-left: 0px;
        }

.btn_search {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}


}



@media (min-width: 1200px){


.osdp {
    height: 72px;
}

#warpper{
        width: 1008px;
    margin: auto;
    background-color: #f9f7f7;
}

iframe {
    width: 341px !important;
    height: 245px !important;
    border: 1px solid #ad5ac1;
}

blockquote p:last-child {
    margin-bottom: 0;
    font-size: 10px;
    color: #31708f;
    font-size: 30.5px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;

}

a, a:hover, a:visited, a:focus {
    text-decoration: none !important;
    -webkit-transition: all 0.1s ease;
    margin-bottom: 0;
    color: #31708f;
       font-size: 10.5px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    transition: all 0.1s ease;
}
.showsSelect {
    width: 9%;
    margin: 0px 0px 0px 450px;
    cursor: pointer;
}
.top_head {
    background: #ffffff;
    border-bottom: 1px solid #EDEAE3;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    min-height: 40px;
        height: 112px;
    margin-top: -40px;
}

.logo{
    width: 75%;
    float: left;

}

.menu{
      margin-left: 90px;
}


.mobileShow {
  display: none ;
} 

  /* Smartphone Portrait and Landscape */ 
  @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px){ 
      .mobileShow {display: inline !important;}
  }


  .mobileHide{
display: block ;
font-size: 15px;
  }

   /* Smartphone Portrait and Landscape */ 
  @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px){ 
      .mobileHide {display: none !important;}
  }

  #search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: -179px;
    float: right;
    line-height: 22px;
    margin-top: 17px;
}

.tbio{
    color: #31708f;
    font-size: 13.5px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
.search input {
  position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

        .search:hover input, .search input:focus {
            width: 200px;
            margin-left: 0px;
        }

.btn_search {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}

}




.raduis{    width: 12%;
    height: 15px;
    border-radius: 50%;
    float: left;}
.closed{background-color:red;}
.live{background-color:green;}
.showClosed{    width: 50%;
    font-size: 2em;
    float: left;
    margin-top: -3px;}
.showLive{    width: 50%;
    font-size: 2em;
    float: left;
    margin-top: -3px;}

.Taddress{
        width: 100%;
    /* float: left; */
    height: 240px;

}

.address_details{
    width: 50%;
        float: left;
}

.directions{
    width:50%;
        float: left;
}

.features{
    width: 100%;
    height: 240px;
}